<div class="navBar">
    <nav class="navbar navbar fixed-top navbar-light bg-light">
        <form class="form-inline">
            <button class="btn btn-outline-success btn-lg mr-1" type="button" routerLink="/pregled"><i class="fa fa-home"></i> Pregled</button>
            <button class="btn btn-outline-secondary btn-lg ml-1" type="button" routerLink="/rezultati">Rezultati</button>
        </form>
        <div class="align-right">
            <app-pom-poruke></app-pom-poruke>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
<br>
<br>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">