<div id="search-component">

  <input class="form-control" #searchBox placeholder="Pretraži" id="search-box" (input)="search(searchBox.value)" />
  <br>
  <br>

  <ul *ngIf="searchBox.value" class="list-group">
    <li class="list-group-item btn btn-light btn-lg d-block" *ngFor="let predmet of predmeti$ | async" routerLink="/detalj/{{predmet.idPredmet}}">
      <a>
        <span class="badge">{{predmet.nastProg}}</span> {{predmet.nazivPredmet}}
      </a>
    </li>
  </ul>

  <ul *ngIf="!searchBox.value" class="list-group">
    <li class="list-group-item btn btn-light btn-lg d-block" *ngFor="let predmet of predmeti" routerLink="/detalj/{{predmet.idPredmet}}">
      <a>
        <span class="badge">{{predmet.nastProg}}</span> {{predmet.nazivPredmet}}
      </a>
    </li>
  </ul>
</div>